In [3]:
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)

import pandas as pd

from datetime import datetime

In [4]:
# start = request.args.get('start', default = 00000000, type = int)
# end = request.args.get('end', default = 99999999, type = int)

df=pd.read_csv("DataSources/traffic_data_clean.csv")

In [5]:
df.head()

,Unnamed: 0,Traffic Report ID,Published Date,Issue Reported,Location,Latitude,Longitude,Address,Status,Status Date-Time,Published Date as Integer
0,0,00E263FF6806064C016A643C6587B0D607A6A42D_15187...,02/16/2018 07:25:00 PM +0000,Traffic Hazard,"(30.320777,-97.726217)",30.320777,-97.726217,503 Franklin Blvd,ARCHIVED,02/17/2018 01:45:00 AM +0000,20180216
1,1,0020BF2046BD4C6F803CBF19940A1A4759C0EDE8_15185...,02/14/2018 02:20:00 PM +0000,TRFC HAZD/ DEBRIS,"(30.448869,-97.656096)",30.448869,-97.656096,W Pecan St & Central Commerce Dr,ARCHIVED,02/14/2018 08:30:00 PM +0000,20180214
2,2,066B5BB7A384BED2EDCDC65D0BCAA57C1EE971D0_15083...,10/18/2017 02:28:00 PM +0000,zSTALLED VEHICLE,"(30.261230,-97.736767)",30.261230,-97.736767,N Ih 35 Svrd Sb & E Cesar Chavez St,ARCHIVED,NaN,20171018
3,3,0A362CA04E5D1A1A33B972938C55AC2595D989F9_15083...,10/18/2017 01:41:00 PM +0000,Traffic Impediment,"(30.185598,-97.812579)",30.185598,-97.812579,1700-1930 W Dittmar Rd,ARCHIVED,NaN,20171018
4,4,0CE1D1D8CFA8BDADD7BC865D3E87BBF2FBBC003E_15083...,10/18/2017 02:53:00 PM +0000,COLLISION,"(30.285479,-97.812326)",30.285479,-97.812326,4310 Bee Caves Rd,ARCHIVED,NaN,20171018

In [6]:
top10=df[['Location','Issue Reported']].groupby(['Issue Reported']).count().sort_values('Location',ascending=False)[:10].reset_index().rename(columns={'Location':'Num Incidents'})

In [8]:
top10

          Issue Reported  Num Incidents
0         Traffic Hazard           3579
1           Crash Urgent           2768
2          Crash Service           1908
3     Traffic Impediment            931
4              COLLISION            744
5      TRFC HAZD/ DEBRIS            650
6       zSTALLED VEHICLE            470
7  COLLISION WITH INJURY            365
8      COLLISN/ LVNG SCN            168
9        LOOSE LIVESTOCK            163

In [13]:
# df=data[(data['Published Date as Integer']>=int(start)) & (data['Published Date as Integer']<=int(end))]

#return top 10 incidents with counts within the date range
top10=df[['Location','Issue Reported']].groupby(['Issue Reported']).count().sort_values('Location',ascending=False)[:10].reset_index().rename(columns={'Location':'Num Incidents'})
json = top10.reset_index(drop=True).to_json()
json

'{"Issue Reported":{"0":"Traffic Hazard","1":"Crash Urgent","2":"Crash Service","3":"Traffic Impediment","4":"COLLISION","5":"TRFC HAZD\\/ DEBRIS","6":"zSTALLED VEHICLE","7":"COLLISION WITH INJURY","8":"COLLISN\\/ LVNG SCN","9":"LOOSE LIVESTOCK"},"Num Incidents":{"0":3579,"1":2768,"2":1908,"3":931,"4":744,"5":650,"6":470,"7":365,"8":168,"9":163}}'